<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">
	<listeners>
		<listener class-name="com.abarna.listeners.RetryListener" />
	</listeners>

	<test name="Place Order Tests">

		<classes>

			<class name="com.abarna.tests.PlaceOrderTest" />

		</classes>

	</test>

</suite>